.card__container{
    background: rgba( 242, 242, 242, 0.85 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3px );
-webkit-backdrop-filter: blur( 3px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
}

.grid__container{

    display: grid;
    grid-template-columns:  repeat(3 , 1fr);

}
.card__header__title{
    font-size: 2.5rem;
}

.card__header{
font-size: 1rem;
padding: 10px 15px
}

.card__image__container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}

.image{
    border-radius: 20px;
}