.banner__container{
    /* padding-top: 2rem; */
    /* background-color: aliceblue; */
    /* display:  flex; */
    align-items:  center;
    height: calc(100vh - 0rem);
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    place-items: center;
    padding: 0;
    margin: 0;
    /* justify-content: space-between; */
}


.banner__title{
    font-size: 5rem;
    padding: 0;
    margin: 0;
    /* padding-top: 5rem; */
    font-family: serif;
    color:  rgb(255, 255, 255);
}

.banner__span{

    color: rgb(112, 17, 236);
    font-size: 4.8rem;
    padding-left: 10px;

}

.banner__subtitle{
    color : rgb(255, 255, 255);
    font-size: 2em;
    font-family: serif;
    padding: 0;
    padding-top: 1rem;
    margin: 0;
}
.banner__button__container{
padding-top: 1rem;
}

.banner__button{
    background: transparent;
    background-color: blue;
    color:  white;
    width: 10rem;
    height: 5rem;
    font-size: 1rem;
    border-radius: 20px;

}




.banner__image{
    border-radius: 100px;
    border: 10px solid teal;
}
